<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commute">
    <select id="selectByNotState" resultType="com.end2end.spring.commute.dto.CommuteDTO">
        SELECT * FROM COMMUTE WHERE STATE != #{state}
    </select>

    <select id="selectLeaveEarly" resultType="com.end2end.spring.commute.dto.CommuteDTO">
        SELECT *
        FROM COMMUTE
        WHERE STATE = 'WORK_OFF'
        AND EXTRACT(HOUR FROM regDate) = 18
        AND TRUNC(regDate) = TRUNC(SYSDATE)
    </select>

    <insert id="insertAll" parameterType="list">
        <foreach collection="list" item="item" index="idx">
            INSERT INTO COMMUTE(id, employeeId) VALUES (COMMUTE_ID_SEQ.NEXTVAL, #{item.employeeId})
        </foreach>
    </insert>

    <insert id="insert">
        INSERT INTO COMMUTE(id, employee_id, state) VALUES (COMMUTE_ID_SEQ.NEXTVAL, #{employeeId}, #{state})
    </insert>
</mapper>