<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="extendedCommute">
    <insert id="insert">
        INSERT INTO EXTENDED_COMMUTE(id, employeeId, workOffTime)
        VALUES (EXTENDED_COMMUTE_ID_SEQ.nextval, #{employeeId}, #{workOffTime})
    </insert>
</mapper>