<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="extendedCommute">
    <insert id="insert">
        INSERT INTO EXTENDED_COMMUTE(id, employeeId, workOffTime)
        VALUES (EXTENDED_COMMUTE_ID_SEQ.nextval, #{employeeId},
        <if test="commuteId != 0">${commuteId}, </if>
        #{approvalId}, #{workOffTime})
    </insert>

    <select id="selectByApprovalId" resultType="com.end2end.spring.commute.dto.ExtendedCommuteDTO">
        SELECT *
        FROM EXTENDED_COMMUTE
        WHERE approvalId = ${approvalId}
    </select>

    <select id="selectTodayByEmployeeId" resultType="com.end2end.spring.commute.dto.ExtendedCommuteDTO">
        SELECT *
        FROM
            EXTENDED_COMMUTE
        JOIN
            APPROVAL
        ON
            EXTENDED_COMMUTE.approvalId = APPROVAL.id
        WHERE
            APPROVAL.state = 'SUBMIT'
        AND
            TRUNC(workOffTime) = TRUNC(SYSDATE)
        AND
            EXTENDED_COMMUTE.employeeId = #{employeeId}
    </select>
</mapper>