<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soldering">
    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO SOLDERING(id, employeeId, state)
        SELECT SOLDERING_ID_SEQ.NEXTVAL, A.* FROM (
        <foreach collection="list" item="item" separator="UNION ALL">
            SELECT #{item.employeeId}, #{item.state} FROM DUAL
        </foreach>
        ) A
    </insert>

    <insert id="insert">
        INSERT INTO SOLDERING(id, employeeId, state)
        VALUES (SOLDERING_ID_SEQ.nextval, #{employeeId}, #{state})
    </insert>

    <select id="countThisWeekByStateAndEmployeeId" resultType="Integer">
        SELECT COUNT(*)
        FROM SOLDERING
        WHERE
            employeeId = #{employeeId}
        AND
            state = #{state}
        AND
            TRUNC(regDate) BETWEEN TRUNC(SYSDATE, 'IW') AND TRUNC(SYSDATE)
    </select>
</mapper>