* {
    box-sizing: border-box;
}

.chartRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.chart1 {
    width: 30%;
    height: 250px;
    margin: 10px;
}
.chart2{
    width: 70%;
    height: 250px;
    margin: 10px;
}
.chart3,.chart4{
    width: 50%;
    height: 280px;
    padding: 10px;
}

canvas {
    max-width: 100%;
    width: 100%;
    height: auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detail-menu-list a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 4px;
}