*{
/*    border: 1px solid red;*/
    box-sizing: border-box;
}
.mainContainer{
    width: 90%;
    height: 100vh;
    margin: auto;
    padding: 10px;
}
.mainHeader{
    width: 100%;
    height: 20%;
    margin: 10px;
}
.title{
    width: 100%;
    height: 40%;
}
.title span {
    font-size: 60px;
}
.title h2 {
    display: flex;
    align-items: center;
    margin: 0;
}
.title h2 .material-icons {
    font-size: 65px;
    margin-right: 8px;
}
.mainBody{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chartUp,
.chartDown {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.chartRight,
.chartLeft {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    width: 600px;
    height: 600px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}