.table-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    padding-bottom: 10px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-container tbody {
    display: block;
    max-height: 500px;
    overflow-y: auto;
}

.table-container thead,
.table-container tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.board-table .btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.board-table button {
    padding: 8px 8px;
    border: none;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.table-container tbody::-webkit-scrollbar {
    width: 8px;
}
.table-container tbody::-webkit-scrollbar-track {
    background: var(--md-sys-color-outline);
    border-radius: 4px;
}
.table-container tbody::-webkit-scrollbar-thumb {
    background: var(--md-sys-color-outline-variant);
    border-radius: 4px;
}
.table-container tbody::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.detail-menu-list a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 4px;
}