.dark-high-contrast {
  --md-sys-color-primary: rgb(253 249 255);
  --md-sys-color-surface-tint: rgb(189 194 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(194 199 255);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(253 249 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(201 201 225);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 249 249);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(235 190 218);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(70 70 79);
  --md-sys-color-on-surface-variant: rgb(253 249 255);
  --md-sys-color-outline: rgb(203 201 212);
  --md-sys-color-outline-variant: rgb(203 201 212);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(31 36 90);
  --md-sys-color-primary-fixed: rgb(229 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(194 199 255);
  --md-sys-color-on-primary-fixed-variant: rgb(8 14 70);
  --md-sys-color-secondary-fixed: rgb(229 229 254);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(201 201 225);
  --md-sys-color-on-secondary-fixed-variant: rgb(19 21 38);
  --md-sys-color-tertiary-fixed: rgb(255 222 241);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(235 190 218);
  --md-sys-color-on-tertiary-fixed-variant: rgb(40 12 33);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(57 57 63);
  --md-sys-color-surface-container-lowest: rgb(13 14 19);
  --md-sys-color-surface-container-low: rgb(27 27 33);
  --md-sys-color-surface-container: rgb(31 31 37);
  --md-sys-color-surface-container-high: rgb(41 41 47);
  --md-sys-color-surface-container-highest: rgb(52 52 58);
}
