<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mail">

    <update id="insertReadYn">
        update email_state SET readyn = 'Y' WHERE id = #{value}
    </update>

    <update id="insertTrashCanYn">
        update email_state SET TRASHCANYN = 'Y' WHERE id = #{value}
    </update>

    <update id="updateImportant" >
        update email_state
        set importantyn = #{importantYn}
        where id = #{esId}
    </update>

    <!--  현재 로그인한 계정의 부서이메일 조회 -->
    <select id="selectDepartmentName" resultType="string">
        SELECT d.email
        FROM employee e
        JOIN department d
        ON e.DEPARTMENTID = d.id
        WHERE e.id = #{employeeId}
    </select>

    <!--  해당 부서의 메일 목록 1차 조회 -->
    <select id="selectDepartment" >
        SELECT * FROM email_address_user WHERE EMAILADDRESS = #{departName}
    </select>

    <!--  해당 부서의 메일 목록 통합 조회 -->
    <select id="selectDepartEmail" resultType="com.end2end.spring.mail.dto.MailTeamListDTO">
        SELECT e.id, e.SENDEREMAILADDRESS, e.TITLE, e.REGDATE
        FROM email e
        JOIN email_address_user eau
        ON e.id = eau.id
        WHERE eau.emailaddress = #{value}
    </select>

    <select id="getRecordTotalCount" resultType="int" >
        SELECT COUNT(*)
        FROM EMAIL e
        JOIN EMAIL_STATE es
        ON e.ID = es.EMAILID
        WHERE es.EMAILUSERID IN (
        SELECT id
        FROM EMAIL_ADDRESS_USER
        WHERE EMPLOYEEID = #{employeeId}
        )
        AND es.HIDEYN = 'N'
        AND es.TRASHCANYN = 'N'
    </select>

    <select id="getRecordImportantTotalCount" resultType="int" >
        SELECT COUNT(*)
        FROM EMAIL e
        JOIN EMAIL_STATE es
        ON e.ID = es.EMAILID
        WHERE es.EMAILUSERID IN (
        SELECT id
        FROM EMAIL_ADDRESS_USER
        WHERE EMPLOYEEID = #{employeeId}
        )
        AND es.HIDEYN = 'N'
        AND es.TRASHCANYN = 'N'
        AND es.IMPORTANTYN = 'Y'
    </select>

    <select id="getRecordReadCount" resultType="int">
        SELECT COUNT(*)
        FROM EMAIL e
        JOIN EMAIL_STATE es
        ON e.ID = es.EMAILID
        WHERE es.EMAILUSERID IN (
        SELECT id
        FROM EMAIL_ADDRESS_USER
        WHERE EMPLOYEEID = #{employeeId}
        )
        AND es.HIDEYN = 'N'
        AND es.TRASHCANYN = 'N'
        AND es.READYN = 'N'
    </select>

    <select id="getRecordSendTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM email
        WHERE senderEmailAddress IN (
        SELECT emailAddress
        FROM email_address_user
        WHERE employeeId = #{employeeId}
        )
    </select>

    <select id="selectFromto" parameterType="map" resultType="com.end2end.spring.mail.dto.MailTeamListDTO">
        SELECT
        id,
        fileCount,
        emailAddress,
        title,
        regdate,
        esId,
        readYn,
        importantYn
        FROM (
        SELECT
        e.id as id,
        fe.fileCount AS fileCount,
        e.SENDEREMAILADDRESS as emailAddress,
        e.title as title,
        e.regdate as regdate,
        es.id as esId,
        es.readYn as readYn,
        es.importantYn as importantYn,
        ROW_NUMBER() OVER (ORDER BY e.id DESC) AS rnum
        FROM EMAIL e
        LEFT JOIN (
        select COUNT(*) AS fileCount, Email.ID
        from email
        join files
        on email.id = files.emailId
        GROUP BY Email.ID) fe
        ON E.ID = fe.ID
        JOIN EMAIL_STATE es
        ON e.ID = es.EMAILID
        WHERE es.EMAILUSERID IN (
        SELECT id
        FROM EMAIL_ADDRESS_USER
        WHERE EMPLOYEEID = #{employeeId}
        )
        AND es.HIDEYN = 'N'
        AND es.TRASHCANYN = 'N'
        )
        WHERE rnum BETWEEN #{start} AND #{end}
    </select>

    <select id="selectFromtoImportant" parameterType="map" resultType="com.end2end.spring.mail.dto.MailTeamListDTO">
        SELECT
        id,
        fileCount,
        emailAddress,
        title,
        regdate,
        esId,
        readYn,
        importantYn
        FROM (
        SELECT
        e.id as id,
        fe.fileCount AS fileCount,
        e.SENDEREMAILADDRESS as emailAddress,
        e.title as title,
        e.regdate as regdate,
        es.id as esId,
        es.readYn as readYn,
        es.importantYn as importantYn,
        ROW_NUMBER() OVER (ORDER BY e.id DESC) AS rnum
        FROM EMAIL e
        LEFT JOIN (
        select COUNT(*) AS fileCount, Email.ID
        from email
        join files
        on email.id = files.emailId
        GROUP BY Email.ID) fe
        ON E.ID = fe.ID
        JOIN EMAIL_STATE es
        ON e.ID = es.EMAILID
        WHERE es.EMAILUSERID IN (
        SELECT id
        FROM EMAIL_ADDRESS_USER
        WHERE EMPLOYEEID = #{employeeId}
        )
        AND es.HIDEYN = 'N'
        AND es.TRASHCANYN = 'N'
        AND es.IMPORTANTYN = 'Y'
        )
        WHERE rnum BETWEEN #{start} AND #{end}
    </select>

    <select id="selectFromtoSendList" parameterType="map" resultType="com.end2end.spring.mail.dto.SendMailListDTO">
        SELECT id, filecount, RECIPIENTEMAILADDRESS, title, regdate, rnum
        FROM (
        SELECT
        email.*,
        fileCount,
        ROW_NUMBER() OVER (ORDER BY email.id DESC) AS rnum
        FROM email
        LEFT JOIN (
        SELECT emailId, COUNT(*) AS fileCount
        FROM files
        GROUP BY emailId
        ) e ON email.id = e.emailId
        WHERE senderEmailAddress IN (
        SELECT emailAddress
        FROM email_address_user
        WHERE employeeId = #{employeeId}
        )
        )
        WHERE rnum BETWEEN #{start} AND #{end}

    </select>

    <select id="selectByEmail" resultType="com.end2end.spring.mail.dto.MailDetailDTO">
        select id, SENDEREMAILADDRESS as sender, title as subject, content from email where id = #{value}
    </select>
</mapper>