




div {
    border: 1px solid red;
}

.boxContents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* gap: 50px; */
    margin-bottom: 20px;
}
.btnBox {
    margin-top: 10px;

    display: flex;
    margin-left: 50px;
    justify-content: flex-end;
}

.pageName {
    font-size: 30px;
    margin-left: 100px;
}

.selectBtn{
    margin-left: 10px;
}

.projectBtn{
    margin-right: 10px;
}