




div {
    border: 1px solid red;
}
.projectBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.projectBtn:hover {
    background-color: #0056b3;
}

.tableBox {
    width: 100%;
    margin-top: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.boxContents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* gap: 50px; */
    margin-bottom: 20px;
}
.btnBox {
    margin-top: 10px;

    display: flex;
    margin-left: 50px;
    justify-content: flex-end;
}

.pageName {
    font-size: 30px;
    margin-left: 100px;
}

.selectBtn{
    margin-left: 10px;
}

.projectBtn{
    margin-right: 10px;
}

