<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approver">
    <select id="insertApprover" resultType="com.end2end.spring.approval.dto.ApproverDTO">
        INSERT INTO approver (ID,approvalId, employeeId, orders) VALUES (APPROVER_ID_SEQ.NEXTVAL, #{approvalId}, #{employeeId}, #{orders})
    </select>

    <select id="nextId" resultType="com.end2end.spring.approval.dto.ApproverDTO">
        SELECT employeeId FROM approver WHERE approvalId = #{approvalId} AND submitYn is null ORDER BY orders
    </select>

</mapper>